<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boutique Lilì Hombres</title>
    <!-- Tipografía que estoy usando -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
    <!-- Llamar la hoja de estilos-->
    <link rel="stylesheet" href="/Styles/main.css" />
</head>
<body>
    <header>
        <img src="/imgs/menu.png" width="3%" style="margin: 1% 2%">
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">TIENDA</a></li>
                <li><a href="#">LOCALES</a></li>
            </ul>
        </nav>
    </header>

    <h6 class="titulo">{{titulo}}</h6>

    <ul>
        {{#each productos}}
            <li>{{Titulo}}</li>
            <img src="{{imagen}}" alt="">
        {{/each}}
    </ul>

    <!-- javaScript del cliente -->
    <script src="/Scripts/main.js"></script>
</body>
</html>