<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Boutique Lilì Hombres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="Styles/index.css" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="">NUESTRA EMPRESA</a></li>
                <li><a href="/tiendageneral" method="GET">TIENDA</a></li>
                <li><a href="">LOCALES</a></li>
            </ul>
        </nav>
    </header>
    <section class="banner">
        <article class="banner__texto">
            <h6 class="banner__texto__titulo">DISEÑO<br>MODERNO</h6>
            <p class="banner__texto__descripcion">Tu mejor versión ahora<br>a un solo click</p>
            <div class="banner__texto__boton">COMPRAR</div>
        </article>
    </section>

    <article class="cuerpo">

        <h6 class="titulo" id="primero">NUESTROS PRODUCTOS</h6>

        <section class="galerias">

            <div class="galeria__especifica" id="Guno">
                <div class="galeria__especifica__boton"><a href="/tienda/?producto=camisetas" method="GET">CAMISETAS</a></div>
            </div>
            <div class="galeria__especifica" id="Gdos">
                <div class="galeria__especifica__boton"><a href="/tienda/?producto=camisas" method="GET">CAMISAS</a></div>
            </div>
            <div class="galeria__especifica" id="Gtres">
                <div class="galeria__especifica__boton"><a href="/tienda/?producto=pantalones" method="GET">PANTALONES</a></div>
            </div>
        </section>

        <h6 class="titulo">EL PRODUCTO</h6>
        <section>

        </section>

        <section class="promociones">
            <!-- <h6 class="promociones__titulo">ULTIMA COLECCION</h6> -->
        </section>

        <section class="caract">
            <article class="caract__primeras">
                <div class="caract__especifica" id="Cuno">
                    <div class="caract__especifica__text" id="Cuno__txt" style="margin-top: 90%;">ELIGE<br>TU PROPIO<br>ESTILO</div>
                </div>

                <div class="caract__especifica" id="Cdos">
                    <div class="caract__especifica__text" id="Cdos__txt" style="margin-top: 51.2%;">TELA<br>DE LA MEJOR<br>CALIDAD</div>
                </div>
            </article>
            <article class="caract__segundas">
                <div class="caract__especifica" id="Ctres">

                    <div style="padding: 470px 150px 30px 50px;" class="caract__especifica__text">TODO<br>LIMITE ESTA EN<br>TU MENTE</div>

                </div>
            </article>
        </section>

        <section class="newsletter">
            <p class="newsletter__parrafo">Permitenos mantenerte informado<br>Sobre lanzamientos,obsequios y descuentos</p>

            <article class="newsletter__func">
                <div class="newsletter__func__bloque">
                    <input class="newsletter__func__bloque__email" type="text" placeholder="EMAIL">
                    <span>
                        <input class="newsletter__func__bloque__check" type="checkbox" value="Bike"> TERMINOS Y
                        CONDICIONES
                    </span>
                </div>

                <div class="newsletter__func__boton">ENVIAR</div>
            </article>

        </section>

        <footer>
            <p>Derechos Reservados</p>
            <p>@COPYRIGHT</p>

            <span class="final">
                <p class="final__contac">CONTACTANOS</p>

                <div class="final__redes">
                    <img src="/imgs/previas/facebook_1.png" alt="facebook">
                    <img src="/imgs/previas/instagram_1.png" alt="instagram">
                    <img src="/imgs/previas/twiter_1.png" alt="twiter">
                    <img src="/imgs/previas/youtube_1.png" alt="youtube">
                </div>
            </span>
        </footer>

    </article>

    <script src="/Scripts/index.js"></script>
</body>

</html>