%distribuido {
    display: flex;
    justify-content: space-around;
}

%btnFlotante{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.cuerpo{
    display: flex;
    justify-content: center;
    padding: 0 12%;  
}

.flotante{
    display: block;
    position: fixed;
    transition: 2s;
    z-index: 3;
    top: 30%;
    right: 0;
    border: 2px solid black;
    width: 3%;
    height: 25%;

    &:hover{
        transition: 2s;
        right: 1%;
    }

    .carrito{
        background-image: url("/imgs/btnFloat/carrito2.png");
        @extend %btnFlotante;
        &:hover{
            background-image: url("/imgs/btnFloat/carrito1.png");
        }
    }
    .camisetas{
        background-image: url("/imgs/btnFloat/camisetas1.png");
        @extend %btnFlotante;
        &:hover{
            background-image: url("/imgs/btnFloat/camisetas2.png");
        }
    }
    .camisas{
        background-image: url("/imgs/btnFloat/camisas1.png");
        @extend %btnFlotante;
        &:hover{
            background-image: url("/imgs/btnFloat/camisas2.png");
        }
    }
    .pantalones{
        background-image: url("/imgs/btnFloat/pants1.png");
        @extend %btnFlotante;
        &:hover{
            background-image: url("/imgs/btnFloat/pants2.png");
        }
    }
}

.verMas{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    a{
        font-weight: 800;
        text-decoration: underline;
    }
}

//barra de navegación
header{
    background-color: black;   
    display: flex;
    
    nav{
        margin: 1% 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        ul{
            margin: 0 7%;
            display: flex;
                li{
                    margin: auto 7%;
                }
        }
    }

}

//titulo de la tienda, (camisas, camisetas, pantalones)
.titulo{
    width: 94%;
    height: 10%;
    font-size: 300%;
    text-align: center;
    padding: 3%;
}

//presentación de los productos
.prods{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .productos{
        border: 1px solid black;
        padding: 5%;
        padding-bottom: 2%;
        margin-bottom: 4%;
        width: 20%;

        
        .productos__titulo{
            font-size: 160%;
            font-weight: 500;
            margin: 4% 0;
            text-align: left;
        }
        
        .productos__action{
            border: 1px solid black;
            display: flex;
            height: 7%;
            width: 94%;
            
            .productos__action__precio{
                background: white;
                color: black;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 80%;
                font-weight: 200;
                padding: 0;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .productos__action__boton{
                background: black;
                color: white;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 80%;
                font-weight: 200;
                flex: 1;
                padding: 3%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

footer{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 70px 20px;

    
    img{
        height: 20px;
        margin-left: 10px;
    }

    .final{
        @extend %distribuido;
        display: flex;
        .final__contac{
            margin-top: 10px;
            margin-right:  270%;
        }

        .final__redes{
            margin-top: 10px;
            @extend %distribuido;
        }
    }
}